{% extends 'components/navbar.html' %}

{% block content %}

<p>
    Author: {{ product.user }}
</p>

<img src="/media/{{ product.image }}" alt="">

<h1>{{ product.title }}</h1>

<p>{{ product.description }}</p>

<p>Published on {{ product.created_at }} </p>

<p>
    Price: {{ product.price }}
</p>

{% if product.user == user %}
    <button>
        <a href="update/">Update Product</a>
    </button>
    <button>
        <a href="delete/">Delete Product</a>
    </button>
{% endif %}

<h1>
    Tags:
</h1>

{% for tag in product.tags.all %}
    <p>{{ tag.name }}</p>
{% endfor %}


<h2>Add Review</h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Submit Review</button>
</form>


<h2>Reviews</h2>
<ul>
    {% for review in product.reviews.all %}
        <li>{{ review.text }} - {{ review.created_at }}</li>
    {% empty %}
        <li>No reviews yet.</li>
    {% endfor %}
</ul>


{% endblock %}



